.van-button--plain.van-button--primary{
    color:white !important;
    border-color: #36277B;
}

.van-panel__header .van-cell__value{
            color:#36277B !important
        }

.van-button--primary{
    background-color: #36277B !important;
    border-color: #36277B !important;
}